<svg #svg [attr.width]="options.width" [attr.height]="options.height">
  <g [zoomableOf]="svg">
    <g [linkVisual]="link" *ngFor="let link of links"></g>
    <g [nodeVisual]="node" *ngFor="let node of nodes"></g>
<!--       [draggableNode]="node"-->
<!--       [draggableInGraph]="graph"></g>-->\
    <g fill="none" font-size="400" text-anchor="middle"  *ngFor="let node of nodes; let i=index" [attr.transform]="'translate(' + node.x + ',300)'">
      <path class="domain" stroke="currentColor" stroke-width="10px" d="M0.5,6V0.5H3000.5V80"></path>
      <g class="tick" opacity="1" *ngIf="i % 3 === 0">
        <line stroke="currentColor" y2="6"></line>
        <text fill="currentColor" y="9" dy="0.71em" transform="translate(0,200)">{{node.id}}</text>
      </g>
      <path class="domain" stroke="currentColor" stroke-width="10px" [attr.d]="'M0.5,6V0.5H0.5V' + (node.y - 100)"></path>
      <g class="" opacity="1" >
        <line stroke-dasharray="5, 5" stroke="currentColor" y2="6"></line>
      </g>
    </g>
  </g>
</svg>
<div style="position: absolute; top: 10px; background: antiquewhite;">
  <div style="display: flex; align-items: center">
    <div id="transactions" style="display: inline-block; width: 50px; height: 50px; background: red; z-index: 999"></div>
    <label for="transactions">Transactions</label>
  </div>

  <div style="display: flex; align-items: center">
    <div id="fee" style="display: inline-block; width: 50px; height: 50px; background: lawngreen; z-index: 999"></div>
    <label for="fee">Avg. fee</label>
  </div>

  <div style="display: flex; align-items: center">
    <div id="value" style="display: inline-block; width: 50px; height: 50px; background: blue; z-index: 999"></div>
    <label for="value">Value ($)</label>
  </div>
</div>
